*.class
*.pyc
.idea/workspace.xml
/cpp/run.tests
/ocaml/_build
/ocaml/*.native
/packages/
/csharp/Tennis/bin/
/csharp/Tennis/obj/
/csharp/Tennis.Tests/bin/
/csharp/Tennis.Tests/obj/
*.suo
*.swp
.DS_Store
.vs/
